// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$master: #568259;

//give an opacity except font-color
$master-opacity: rgba(86, 130, 89, 0.8);
$background-grey: #F8F8F8;

.background-grey {
  background-color: $background-grey;
}
