// Specific CSS for your about us page
.about-us {
  text-align: center;
}

.about-us-sub-banner {
  background-image: url('https://res.cloudinary.com/rentmylife/image/upload/v1615285067/assets/nick-perez-duvq92-VCZ4-unsplash_pfscbw.jpg');
  margin: 0 auto;
  height: 480px;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 45px;
  background-size: cover;
  background-position: center;
}


.about-us-title {
  width: 50%;
  margin: 0 auto;
  padding: 30px;
  padding-top: 85px;
  color: white;

  h1 {
    font-size: 55px;
    color: white;
    padding-bottom: 35px;
  }

  h3 {
    color: white;
    margin-bottom: 20px;
  }
}

.about-us-content {
  margin: 0 auto;
  width: 900px;
  height: 310px;
  margin-top: 45px;

  h1 {
    padding-top: 40px;
  }

  p {
    width: 300px;
    align-content: center;
    height: 80px;
    padding: 10px;
    margin: 15px;
  }
}

.who-we-are {
  padding: 48px;
  padding-top: 80px;
}

.about-us-card {
  width: 300px;
  margin-bottom: 40px;
  box-shadow: $box-shadow;
  border-radius: $border-radius;
}

.about-img {
  height: 250px;
  width: 300px;
  object-fit: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.about-body {
  margin: 25px;
}

.about-name {
  font-size: 24px;
}

.about-boost {
  padding: 65px;

  h1 {
    margin-bottom: 20px;
  }
}
