.profile-user {
  padding-top: 80px;
  padding-bottom: 40px;
  min-height: 80vh;
}

.user-header {
  padding-bottom: 40px;
}

.user-information {
  padding-bottom: 20px;
}

.profile-edit {
  padding-bottom: 40px;
}

.profile-investments {
  padding-bottom: 40px;
}

// INVESTMENT NEW

.investment-content {
  padding-top: 140px;
  padding-bottom: 80px;
  min-height: 70vh;
}

.investment-header {
  padding-bottom: 40px;
}

.investment-form {
  padding-bottom: 20px;
}
