.profile-user {
  padding-top: 80px;
  padding-bottom: 40px;
}

.user-header {
  padding-bottom: 40px;
}

.user-information {
  padding-bottom: 20px;
}

.profile-edit {
  padding-bottom: 40px;
}

.profile-investments {
  padding-bottom: 40px;
}
