<div class="footer-clean">
  <footer>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-sm-8 col-md-8 item">
          <h2>Ready to green Germany?</h3>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-sm-4 col-md-3 item">
          <%= link_to "Browse projects", projects_path, class: "nav-link" %>
        </div>
        <div class="col-sm-4 col-md-3 item">
          <%= link_to "About Us", "#", class: "nav-link" %>
        </div>
        <div class="col-sm-4 col-md-3 item">
          <%= link_to "Create Project", new_project_path, class: "nav-link" %>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="item social"><a href="#"><i class="fab fa-facebook-f"></i></a><a href="#"><i class="fab fa-twitter"></i></a><a href="#"><i class="fab fa-instagram"></i></a><a href="#"><i class="fab fa-whatsapp"></i></a>
        </div>
      </div>
      <div class="row justify-content-center">
        <p class="copyright">GreenBooster © <%= Time.zone.now.year %></p>
      </div>
    </div>
  </footer>
</div>
