<div class="searchbar">
  <%= form_tag projects_path, class: "search-form", method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "search-input",
      placeholder: "Search for category..."
    %>
    <%= button_tag(type: "submit", class: "btn btn-default") do %>
      <i class="fas fa-search"></i>
    <% end %>
  <% end %>
</div>
