<div class="container-wide about-us">
  <div class="container-general about">

    <h1 class="about-us-title ">ABOUT US</h1>

    <div class="about-us-sub-banner">
      <h1>Our Mission</h1>
      <p>Let you feel free to make the first move for environment<br>and make better future for our planet and next generation</p>
      <h1>Our Promise</h1>
      <p>Return 10% of commission<br>to help 'Save the Arctic' campaign from GREENPEACE<br> and other more projects are related with global warmning</p>
    </div>

    <div class="about-us-member d-flex justify-content-around row">
      <div class="card col-3">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
      <div class="card col-3">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
      <div class="card col-3">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>

  </div>
</div>

