<div class="container-wide">
    <div class="hero-banner">
      <div>
        <%= form_tag projects_path, method: :get do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Search for category..."
          %>
          <%= submit_tag "Search", class: "btn btn-primary" %>
        <% end %>
      </div>
      <div class="hero-content">
        <h1>Green Booster</h1>
        <h3>investing green to make our world better</h3>
      </div>
      <div class="text-center">
        <a class="btn-large-white btn-hero" href="#">Invest Now</a>
        <a class="btn-large-green btn-hero" href="#">Create Project</a>
      </div>
</div>
