<div class="container-wide">
    <div class="hero-banner">
      <div class="hero-content">
        <h1>Pages#home</h1>
        <h3>Find me in app/views/pages/home.html.erb</p>
      </div>
      <div class="hero-btn text-center">
        <a class="btn-large-white" href="#">Invest Now</a>
        <a class="btn-large-green" href="#">Create Project</a>
      </div>
</div>
