<div class="container-wide">
    <div class="hero-banner">
      <div>
        <%= form_tag projects_path, method: :get do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Search for category..."
          %>
          <%= submit_tag "Search", class: "btn btn-primary" %>
        <% end %>
      </div>
      <div class="hero-content">
        <h1>Green Booster</h1>
        <h3>investing green to make our world better</h3>
      </div>
      <div class="text-center">
        <a class="btn-large-white btn-hero" href="#">Invest Now</a>
        <a class="btn-large-green btn-hero" href="#">Create Project</a>
      </div>
    </div>

    <!-- How investing Works -->
    <h2 class="cards-hiw-header text-center">How Investing Works!</h2>
    <div class="cards-hiw d-flex justify-content-around">
      <div class="card-hiw">
        <div class="card-hiw-number text-center">1</div>
        <div class="card-hiw-content text-center">this is just an explain</div>
      </div>
      <div class="card-hiw">
        <div class="card-hiw-number text-center">2</div>
        <div class="card-hiw-content text-center">this is just an explain</div>
      </div>
      <div class="card-hiw">
        <div class="card-hiw-number text-center">3</div>
        <div class="card-hiw-content text-center">this is just an explain</div>
      </div>
    </div>

    <div class="cards-home">
      <div class="cards-home-header">

       </div>
      <div class="cards-home-content">

      </div>
    </div>
</div>

