<div class="container-wide">
    <div class="hero-banner">
      <div class="hero-content">
        <h1>Pages#home</h1>
        <h3>Find me in app/views/pages/home.html.erb</p>
      </div>
      <div class="hero-btn">


    <h1>Pages#home</h1>
    <p>Find me in app/views/pages/home.html.erb</p>
  </div>

</div>
