.hero-banner {
  background: linear-gradient(#385439, rgba(0, 61, 43, 0.05)),
    url("https://images.unsplash.com/photo-1441974231531-c6227db76b6e?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1651&q=80");
  min-height: 680px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-banner h1 {
  font-size: 45px;
  font-weight: 600;
  color: white;
}

.hero-banner h3 {
  font-size: 22px;
  font-weight: normal;
  color: white;
}

.hero-content {
  text-align: center;
  padding: 220px 0 60px 0;
}

// SUB-BANNER FOR PROJECTS/:ID PAGE
.project-sub-banner {
  height: 350px;
  padding: 35px;
  box-shadow: $box-shadow;
  border-radius: $border-radius;
}
.project-sub-banner-punchline {
  margin-top: 75px;
}
.project-sub-banner-video iframe {
  height: 100%;
}
