// BTN NORMAL - WHITE + GREEN

.btn-normal-green {
  display: inline-block;
  width: 140px;
  border: 1px solid;
  border-color: $master;
  background-color: $master;
  color: white;
  border-radius: $border-radius;
  text-align: center;
  padding: 8px;
  text-decoration: none;
}

.btn-normal-green:hover {
  font-weight: bold;
  text-decoration: none;
  color: white;
  background-color: $master-opacity;
}

.btn-normal-white {
  display: inline-block;
  width: 140px;
  border: 1px solid;
  border-color: $master;
  background-color: white;
  color: $master;
  border-radius: $border-radius;
  text-align: center;
  padding: 8px;
  text-decoration: none;
}

.btn-normal-white:hover {
  font-weight: bold;
  text-decoration: none;
  background-color: rgba(127, 183, 66, 0.1);
  color: $master;
}

// BTN LARGE - WHITE + GREEN

.btn-large-white {
  display: inline-block;
  width: 20%;
  border: 1px solid;
  border-color: white;
  color: $master;
  font-size: 17px;
  background-color: white;
  border-radius: $border-radius;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  opacity: 0.8;
}

.btn-large-white:hover {
  font-weight: bold;
  text-decoration: none;
  background-color: $master;
  border-color: $master;
  color: white;
}

.btn-large-green {
  display: inline-block;
  width: 20%;
  border: 1px solid;
  border-color: $master;
  color: white;
  font-size: 17px;
  background-color: $master-opacity;
  border-radius: $border-radius;
  text-align: center;
  padding: 10px;
  text-decoration: none;
}

.btn-large-green:hover {
  font-weight: bold;
  text-decoration: none;
  color: $master;
  background-color: white;
  border-color: white;
  opacity: 0.8;
}

// HERO SPECIFIC

.btn-hero {
  margin: 0 5px;
}

// CARDS PROJECTS SPECIFIC

.submit-btn {
  padding-bottom: 60px;
}

// STRIPE BUTTON

body
  > div
  > div.content-container
  > div
  > div
  > div
  > div
  > div
  > div
  > button
  > span {
  color: white !important;
  border: 0px solid !important;
  border-color: #568259 !important;
  background: rgba(86, 130, 89, 0.8) !important;
  display: inline-block !important;
}

// PROFILE - MY PROJECT

.btn-profile {
  margin-right: 10px;
}
