// BTN NAVBAR - WHITE + GREEN

.btn-normal-white-nav {
  border: 1px solid;
  border-color: $master;
  border-radius: $border-radius;
  text-align: center;
  list-style-type: none;
  padding: 0 22px;
}

.btn-normal-white-nav .nav-link {
  color: $master;
}

.btn-normal-white-nav .nav-link:hover {
  font-weight: bolder;
}

.btn-normal-green-nav {
  border: 1px solid;
  border-color: $master;
  background-color: $master-opacity;
  border-radius: 5px;
  text-align: center;
  padding: 0 22px;
  list-style-type: none;
}

.btn-normal-green-nav .nav-link {
  color: white;
}

.btn-normal-green-nav .nav-link:hover {
  background-color: $master;
}

// BTN NORMAL - WHITE + GREEN

.btn-normal-green {
  display: inline-block;
  width: 140px;
  border: 1px solid;
  border-color: $master;
  background-color: $master-opacity;
  color: white;
  border-radius: $border-radius;
  text-align: center;
  padding: 8px;
  text-decoration: none;
}

.btn-normal-green:hover {
  font-weight: bold;
  text-decoration: none;
  color: white;
}

.btn-normal-white {
  display: inline-block;
  width: 140px;
  border: 1px solid;
  border-color: $master;
  background-color: white;
  color: $master;
  border-radius: $border-radius;
  text-align: center;
  padding: 8px;
  text-decoration: none;
}

.btn-normal-white:hover {
  font-weight: bold;
  text-decoration: none;
  color: $master;
}

// BTN LARGE - WHITE + GREEN

.btn-large-white {
  display: inline-block;
  width: 20%;
  border: 1px solid;
  border-color: $master;
  color: $master;
  background-color: white;
  font-size: 17px;
  border-radius: $border-radius;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  opacity: 0.8;
}

.btn-large-white:hover {
  font-weight: bold;
  text-decoration: none;
  color: $master;
}

.btn-large-green {
  display: inline-block;
  width: 20%;
  border: 1px solid;
  border-color: $master;
  color: white;
  font-size: 17px;
  background-color: $master-opacity;
  border-radius: 5px;
  text-align: center;
  padding: 10px;
  text-decoration: none;
}

.btn-large-green:hover {
  font-weight: bold;
  text-decoration: none;
  color: white;
}

// HERO SPECIFIC

.btn-hero {
  margin: 0 5px;
}

// CARDS PROJECTS SPECIFIC

.btn-card-project {
  display: inline-block;
  width: 100%;
  border: 1px solid;
  border-color: $master;
  background-color: $master-opacity;
  color: white;
  border-radius: $border-radius;
  text-align: center;
  padding: 8px;
  text-decoration: none;
}
.btn-card-project:hover {
  font-weight: bold;
  text-decoration: none;
  color: white;
}

.submit-btn {
  padding-bottom: 60px;
}

//stripe button style change

#new_investment > button > span {
  border: 1px solid !important;
  border-color: $master !important;
  border-radius: $border-radius !important;
  text-align: center !important;
  list-style-type: none !important;
  padding: 0 22px !important;

//  PROFILE MY PROJECT

.btn-profile {
  margin-right: 10px;
}
