
// BTN NORMAL - WHITE + GREEN

.btn-normal-white {
  border: 1px solid;
  border-color: $master;
  width: 126px;
  height: 42px;
  border-radius: $border-radius;
  text-align: center;
  padding: 0;
  list-style-type: none;
}

.btn-normal-white .nav-link {
  color: $master;
}

.btn-normal-white .nav-link:hover {
  font-weight: bolder;
}

.btn-normal-green {
  border: 1px solid;
  border-color: $master;
  background-color: $master;
  width: 126px;
  height: 42px;
  border-radius: 5px;
  text-align: center;
  padding: 0;
  list-style-type: none;
}

.btn-normal-green .nav-link {
  color: white;
}

.btn-normal-green .nav-link:hover {
  background-color: $master;
}

// BTN LARGE - WHITE + GREEN

.btn-large-white {
  display:inline-block;
  width: 20%;
  border-color: $master;
  color: $master;
  background-color: white;
  font-size: 17px;
  border-radius: $border-radius;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  opacity: 0.8;
}

.btn-large-white:hover {
  font-weight: bold;
  text-decoration: none;
  color: $master;
}

.btn-large-green {
  display:inline-block;
  width: 20%;
  border: 1px solid;
  border-color: $master;
  color: white;
  font-size: 17px;
  background-color: $master;
  border-radius: 5px;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  opacity: 0.9;
}

.btn-large-green:hover {
  font-weight: bold;
  text-decoration: none;
  color: white;
}

// HERO SPECIFIC

.btn-hero {
  margin: 0 5px;
}
