// CARDS - HOW INVESTING WORKS

.cards-hiw-header {
  margin: 40px 0 20px 0;
}

.cards-hiw-all {
  padding: 10px 80px 30px 80px;
}

.card-hiw {
  position: relative;
  width: 300px;
  height: 350px;
  padding: 24px;
}

.card-hiw-content {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 1px solid;
}

.card-hiw-number {
  background-color: $master-opacity;
  position: absolute;
  padding: 19px 0;
  font-size: 27px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

// CARDS - HOME

.card-home-header {
  margin-bottom: 40px;
  color: white;
}

.card-home-all {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-bottom: 40px;
}

.background-image-bar {
  height: 80px;
  background: linear-gradient(#385439, rgba(0, 61, 43, 0.05)), url('https://images.unsplash.com/photo-1441974231531-c6227db76b6e?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1651&q=80');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 40px;
}

.card-home {
  width: 320px;
  box-shadow: $box-shadow;
  border-radius: $border-radius;
}

.card-home img {
  width: 320px;
  height: 220px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  object-fit: cover;
  border-radius: $border-radius;
}

.card-content {
  padding: 20px;
}

.card-home-header {
  color: black;
}

// CARDS - PROJECTS

.cards-projects {
  width: 60%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 80px;
}

.card-project {
  border: 1px solid;
  width: 500px;
  height: 500px;
  margin-top: 50px;
  margin-right: 10px;
  padding: 0;
}

.card-project-image img {
  width: 100%;
  height: 280px;
  object-fit: cover;
}

.card-project-body {
  padding: 20px;
}

.card-project-body p {
  margin-bottom: 1px;
}

.card-project-progress {
  border: 1px solid;
  border-radius: $border-radius;
  margin-bottom: 14px;
  height: 20px;
  width: 100%;
}
