// CARDS HOW INVESTING WORKS

.cards-hiw-header {
  padding: 40px 0 40px 0;
  margin-bottom: 0;
  background-color: $background-grey;
}

.cards-hiw-all {
  padding-bottom: 50px;
  width: 100vw;
  background-color: $background-grey;
}

.card-hiw {
  position: relative;
  width: 350px;
  height: 350px;
}

.card-hiw p {
  padding: 0px 40px;
}

.card-hiw-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 320px;
  height: 320px;
  border-radius: 50%;
  box-shadow: $box-shadow;
}

// CARDS HOME

.card-home-header {
  padding-bottom: 40px;
  background-color: $background-grey;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
}

.card-home-all {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-bottom: 60px;
  background-color: $background-grey;
}

.card-home {
  width: 320px;
  box-shadow: $box-shadow;
  border-radius: $border-radius;
}

.card-home img {
  width: 320px;
  height: 220px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
}

.picture-layer {
  position: absolute;
  width: 320px;
  height: 220px;
  background-color: $master;
  opacity: 0.25;
  border-radius: $border-radius;
}

.picture-layer:hover {
  opacity: 0;
}

.card-content {
  padding: 20px;
}

.card-home-header {
  color: black;
}

.investment_goal {
  padding-bottom: 10px;
}

// PROJECTS CARDS

.project-container {
  display: flex;
}

.cards-projects-all {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr;
}

.card-project {
  display: flex;
  width: 860px;
  height: 260px;
  margin: 26px;
  padding-bottom: 40px;
  border-bottom: 1px solid grey;
  align-items: center;
}

.card-project-image {
  height: 100%;
  width: 300px;
}

.card-project-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-project-content {
  padding: 40px;
  width: 100%;
}

.card-project-content p{
  margin: 0;
  color: grey;
}

.card-project-goal {
  text-align: end;
  margin-bottom: 10px;
}

// PROJECTS/:ID CARDS

.project-name {
  text-align: center;
  padding-top: 40px;
  font-size: 48px;
  padding-bottom: 24px;
}

.project-content {
  padding: 40px;
}

.project-content li {
  list-style-type: none;
}

.project-paragraph {
  padding: 40px;
  box-shadow: $box-shadow;
  border-radius: $border-radius;
}

.project-paragraph img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.project-category {
  width: 47%;
  text-align: center;
  border-right: 1px solid;
}

.p-sub {
  margin-bottom: 0;
}

.p-con {
  font-size: 32px;
}

.project-goal {
  width: 50%;
  text-align: center;
}

.project-description {
  text-align: justify;
  padding: 30px 60px;
}

.project-other-option {
  display: flex;
  margin-top: 94px;
  justify-content: space-around;
}

// PROFILE CARDS

.card-profile-project {
  overflow: hidden;
  height: 200px;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
}

.card-profile-project img {
  height: 200px;
  width: 300px;
  object-fit: cover;
}

.card-project-infos {
  margin-right: 60px;
}

// IMAGE BAR HOME PAGE

.background-image-bar {
  height: 100px;
  background: linear-gradient(#385439, rgba(0, 61, 43, 0.05)),
    url("https://images.unsplash.com/photo-1441974231531-c6227db76b6e?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1651&q=80");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

// CARD MAP

.card-map {
  margin-bottom: 50px;
  padding: 0;
}

.card-map-header {
  padding-bottom: 20px;
}

.card-map-content {
  padding: 0 20px;
}

.card-map-image {
  background-color: grey;
}
