.container-wide {
  background-color: $background-grey;
}

.container-general {
  max-width: 960px;
  margin: 0 auto;
  position: relative;
}

.container-narrow {
  padding: 60px 80px 60px 80px;
  margin: 0 200px 0 200px;
}

.container-home {
  padding: 0 40px 0 40px;
}
