.container-wide {
  background-color: white;
}

.container-general {
  max-width: 960px;
  margin: 0 auto;
  padding: 0;
  position: relative;
  background-color: white;
}

.container-narrow {
  padding: 60px 80px 60px 80px;
  margin: 0 200px 0 200px;
  background-color: white;
}
