.container-wide {
  background-color: white;
}

.container-general {
  padding: 60px 80px 60px 80px;
  margin: 0 100px 0 100px;
  background-color: white;
}

.container-narrow {
  padding: 60px 80px 60px 80px;
  margin: 0 200px 0 200px;
  background-color: white;
}
