.projectcontent {
  display: flex;
  position: relative;
}

<<<<<<< HEAD
// #map {
//   height: 100vh;
//   width: 50%;
//   position: sticky;
//   padding-top: 70px !important;
//   top: 0;
// }
=======
#map {
  position: sticky;
  padding-top: 70px !important;
  top: 0;
}
>>>>>>> master

.mapboxgl-popup {
  max-width: 200px;
  border-radius: 10%;
}

.mapboxgl-popup-content {
  text-align: center;
  // font-family: "Open Sans", sans-serif;
}
