.projectcontent {
  display: flex;
  position: relative;
}
.projectcards {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 16px;
  padding: 16px;
}

#map {
  height: 100vh;
  position: sticky;
  padding-top: 70px !important;
  top: 0;
}

.mapboxgl-popup {
  max-width: 200px;
  border-radius: 10%;
}

.mapboxgl-popup-content {
  text-align: center;
  // font-family: "Open Sans", sans-serif;
}

.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: 0.7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}
