.navbar {
  height: 63px;
  background-color: white;
}


.nav-item {
  list-style-type: none;
  padding: 7px 0;
}


.dropdown-button {
  color: #696969;
}
.dropdown-button:focus {
  box-shadow: none;
}


.nav-link {
  color: #696969;
}
.nav-link:hover {
  color: $master;
}



.log-in {
  margin-right: 10px;
}
.resister {
  margin-right: 50px;
}


#avatar-items {
  margin-right: 50px;
  margin-bottom: 6px;
}
.username {
  margin-right: 4px;
}
