.navbar {
  height: 70px;
  width: 100%;
  justify-content: space-between;
  background-color: white;
}

// ALL NAVBAR LINKS

.nav-link {
  color: #696969;
}

.nav-link:hover {
  color: $master;
}

.nav-link.active {
  color: $master;
}

// LEFT SIDE OF NAVBAR LINKS (all projects/ categories/ about us/ create project)

.taps {
  align-items: center;
}


// CATEGORY NAVLINK (DROPDOWN)
.dropdown {
  background-color: white;
}

.dropdown-menu {
  padding-top: 23px;
}

.dropdown-button {
  color: #696969;
}

// get rid of dropdown triangle
.dropdown-toggle::after {
  display: none;
}

.dropdown-button:focus {
  box-shadow: none;
}

.dropdown-button:hover {
  color: $master;
}



// CATEGORY DROPDOWN-ITEM DETAILS

.category-dropdown-icon {
  width: 18px;
}
.category-dropdown-link {
  padding: 0;
  padding-left: 10px;
  margin-top: -4px;
}

.category-dropdown-link:hover {
  color: $master;
}



// LOG IN - RESISTER - AVATAR

.log-in {
  margin-right: 10px;
}
.register {
  margin-right: 10px;
}

#avatar-items {
  margin-right: 35px;
}
.username {
  margin-right: 4px;
}
