.progress-bar {
  background-color: #7fb742 !important;
  border-radius: 5px;
  margin-bottom: 14px;
  height: 100%;
  width: 250px;
}

.progress-status {
  text-align: center;
  width: 600px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.project-progress {
  margin-bottom: 50px;
}



//HOME PROGRESS SPECIFIC

.home-progress {
  height: 70px;
}

.progress-width {
  width: 380px;
}
