.progress-bar {
  background-color: $master;
}

.progress-status {
  text-align: center;
  width: 555px;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40px;
}

.project-progress {
  margin-bottom: 50px;
}
