.searchbar {
  background-color: white;
  width: 487px;
  height: 50px;
  border-radius: 69px;
  position: absolute;
  top: 120px;
  left: 0;
  right: 0;
  margin: 0 auto;
  opacity: 0.8;
}

.search-form{
  padding: 5px 4px 0 40px;
  display: flex;
  justify-content: space-between;
}

.search-input {
  border: none;
  background: transparent;
  outline: none;
  padding-bottom: 5px;
}

.fa-search {
  font-size: 27px;
}
