.nav-tabs {
  margin-bottom: 60px;
}

.profile-p p {
 margin-bottom: 7px;
}

.profile-p h2 {
  margin-bottom: 20px;
}

// <%= link_to investment.project.name, project_path(investment.project) %>
// <%= link_to project.name, project_path(project) %>
